Source: snf-network
Section: net
Priority: extra
Maintainer: Dimitris Aragiorgis <dimara@grnet.gr>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1

Package: snf-network
Architecture: all
Replaces: snf-cyclades-gtools, nfdhcpd
Depends: ${misc:Depends}, ${python:Depends},
         iptables, arptables, ebtables, vzctl, dnsutils
Suggests: nfdhcpd, heimdal-clients, kstart, bind9utils
Description: Networking support for VMs inside the Ganeti Cluster.
 This package is responsible for setting up the networking environment
 of each VM based on the requested setup (routed, bridge, filtered, etc.).
 It practically gets the exported info from Ganeti and provides:
  * ifup scripts (for KVM and Xen)
  * ifdown scripts (for KVM)
  * hooks for updating external DDNS setup
  * mechanism for executing custom admin scripts
  * mechanism to create binding files for nfdhcpd
